@charset "utf-8";
#wrap{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
header{
    width: 100%;
    height: 100px;
    line-height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
header h1{
    background-color: gray;
    width: 15%;
}
header nav{
    background-color: orangered;
    width: 85%;
}
header ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
header ul li {
    padding-left: 30px;
}
main{
    width: 100%;
}
main section{
    height: 500px;
    line-height: 500px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
main section h2{
    background-color: pink;
    height: 100%;
    width: 30%;
}
main section p{
    background-color: yellow;
    height: 100%;
    width: 70%;
}
footer{
    background-color: yellowgreen;
    height: 100px;
    line-height: 100px;
    width: 100%;
}
aside{
    background-color: skyblue;
    width: 80px;
    height: 200px;
    line-height: 200px;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 1;
}
